@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --bg-hero-footer: #1f2937;
    --main-title-size: 48px;
    --main-title-color: #f9faf8;
    --main-title-weight: 900;
    --secondarytext-header-link-text-size: 18px;
    --secondarytext-header-link-tex-color: #E5E7EB;
    --logo-size: 24px;
    --logo-color: #f9faf8;
    --btn-color-call-to-action-bg: #3882F6;
    --information-header-text-size: 36px;
    --information-header-text-color: #1f2937;
    --information-header-text-weight: 900;
    --bg-quote-section: #E5E7EB;
    --quote-text-size: 36px;
    --quote-text-color: #1f2937;
    --quote-text-weight: 300;
}