@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-header-footer: #1f2937;
    --logo-size: 24px;
    --logo-color: #f9faf8;
    --link-color: #e5e7eb;
    --link-size: 18px; 
    --main-title-size: 48px;
    --main-title-color: #f9faf8;
    --main-title-weight: 900;
    --secondary-header-text-size: 18px;
    --secondary-header-text-color: #E5E7EB;
    --btn-color: #3882F6;
    --box-header-text: #E5E7EB;
    --box-header-bg: #E5E7EB;
}

header{
    background-color: var(--bg-color-header-footer);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-infos {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.logo {
    font-size: var(--logo-size);
    color: var(--logo-color);
    display: flex;
}

.list-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    font-size: var(--link-size);
    color: var(--link-color);
    text-decoration: none;
}

.container-header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.container-text-btn-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 0 1 400px;
}

.main-title {
    font-size: var(--main-title-size);
    font-weight: var(--main-title-weight);
    color: var(--main-title-color);
}

.text-header {
    font-size: var(--secondary-header-text-size);
    color: var(--secondary-header-text-color);
}

.btn-header-sign-up {
    height: 30px;
    width: 130px;
    background-color: var(--btn-color);
    border: none;
    border-radius: 8px;
}

.box-img-header {
    height: 200px;
    width: 500px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--box-header-text);
}