/*Import da fonte roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-roboto);
}

/*Variaveis de estilos*/
:root {
    /*Fontes*/
    --font-roboto: "Roboto", sans-serif;

    /*Cores*/
    --dark-bg: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --hero-logo-color: #F9FAF8;
    --btn-color-call-action-bg: #3882F6;
    --information-header-text-color: #1F2937;
    --quote-section-bg: #E5E7EB;
    --quote-text-color: #1F2937;

    /*Tamanho da fonte (pixels)*/
    --hero-main-text-size: 48px;
    --hero-secondary-text-size: 18px;
    --hero-logo-size: 24px;
    --information-header-text-size: 36px;
    --quote-text-size: 36px;

    /*Peso da fonte*/
    --hero-main-text-weight: 900;
    --information-header-text-weight: 900;
    --quote-text-weight: 300;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg);
}

.container-header-logo-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.logo {
    font-size: var(--hero-logo-size);
    color: var(--hero-logo-color);
}

.list-links {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.list-links-item {
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
}

.container-header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px 0;
}

.header-content {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-main-title {
    font-size: var(--hero-main-text-size);
    font-weight: var(--hero-main-text-weight);
    color: var(--hero-main-text-color);
}

.header-text {
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
}

.btn-header,
.btn-call-to-action {
    width: 120px;
    height: 30px;
    background-color: var(--btn-color-call-action-bg);
    border: none;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-link {
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
    text-decoration: none;
}

.container-header-img {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--quote-section-bg);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0 0 0;
    text-align: center;
}

.information-main-title {
    font-size: var(--information-header-text-size);
    font-weight: var(--information-header-text-weight);
    color: var(--information-header-text-color);
}

.list-informations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.information-items {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.information-items-box {
    width: 200px;
    height: 200px;
    border: 5px solid var(--btn-color-call-action-bg);
    border-radius: 10px;
}

.information-items-box-text {
    font-size: var(--hero-secondary-text-size);
}

.testimonial {
    width: 100%;
    background-color: var(--quote-section-bg);
    display: flex;
    justify-content: center;
    padding: 100px 20px;
    margin: 150px 0 0 0;
}

.container-testimonial {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testimonial-main-title {
    max-width: 780px;
    font-size: var(--quote-text-size);
    font-weight: var(--quote-text-weight);
    color: var(--quote-text-color);
    flex: 1 1 auto;
}

.testimonial-text {
    align-self: flex-end;
    font-weight: 700;
}

.call-to-action {
    width: 100%;
    margin: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-call-to-action-content {
    width: 80%;
    background-color: var(--btn-color-call-action-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    gap: 10px;
    padding: 40px;
}

.call-to-action-texts {
    display: flex;
    flex-direction: column;
}

.call-to-action-main-title {
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
    font-weight: 900;
}

.call-to-action-text {
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-text-color);
}

.btn-call-to-action {
    border: 1px solid #ffffff;
}